@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*, ::after, ::beforee {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5e3c7e;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;

  }

.container {
    background-color: #fff;
    border-radius: 10px;
    width: 90vw;
    max-width: 800px;
    padding: 60px 30px;
    text-align: center;
    box-shadow: 0px 3px 19px 13px  rgba(255, 255, 255, 0.354);
    margin: 80px 0;
}
h1 {
    opacity: 0.6;
    letter-spacing: 1px;
}

.joke {
    font-size: 1.5rem;
    max-width: 550px;
    margin: 0 auto;
}

h1, .joke {
    margin-bottom: 2rem;
}

.btn {
    background-color: #9d3d7d;
    border: 0;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}